//colors

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$light-main: #FFC652;
$middle-main: #f70001;
$dark-main: #b0000d;
$transpatent: rgba(255,255,255,.0);
$semi-transparent: rgba(255,255,255,.6);
